
SOC_Particle/src/SOC_Particle.cpp
SOC_Particle/target/*
SOC_Particle/.vscode/*
*.pyc
*.ods#
SOC_Particle/pyStateOfCharge/dist/*
SOC_Particle/pyStateOfCharge/build/*
*.spec
*.xml
*.iml
*.json
SOC_Particle/nul
/SOC_Particle/pyStateOfChargeOld
/SOC_Particle/pyStateOfChargeNew
*.log
*.raw
*.o
*.elf
/ble-uart-peripheral/target
ble-uart-peripheral/nul
*.csv#
*.csv#
SOC_Particle/pyStateOfCharge/Battery - Copy.py
SOC_Particle/pyStateOfCharge/CompareFault - Copy.py
SOC_Particle/pyStateOfCharge/CompareHistSim - Copy.py
SOC_Particle/pyStateOfCharge/DataOverModel - Copy.py
SOC_Particle/pyStateOfCharge/PlotEKF - Copy.py
SOC_Particle/pyStateOfCharge/PlotGP - Copy.py
SOC_Particle/pyStateOfCharge/PlotHist - Copy.py
SOC_Particle/pyStateOfCharge/PlotOffOn - Copy.py
SOC_Particle/pyStateOfCharge/PlotSimS - Copy.py
*.bin
